secret_key: "your-django-secret-key-here"
allowed_hosts: "68.183.73.75,mirsaidbek-shop.ddns.net"
db_path: "/app/db_vol/db.sqlite3"
static_root: "/app/staticfiles"
media_root: "/app/media"
debug: "0"
gunicorn_workers: "3"
django_settings_module: "online_shop.settings"

email_host: "smtp.gmail.com"
email_port: "587"
email_use_tls: "1"
email_use_ssl: "0"
email_host_user: ""
email_host_password: ""

grafana_smtp_user: ""
grafana_smtp_password: ""